<div class="island">
    <div class="island-hd">
        <h1 class="hdg hdg_1">Just one more step!</h1>
    </div>
    <div class="island-bd">
        <div class="txt-sansSerif">
            We've sent a confirmation link to your email.  Please click the confirmation link to complete your registration.
        </div>
    </div>
</div>
