<div class="island">
    <div class="island-hd">
        <h2 class="hdg hdg_1">
            Groups
        </h2>
    </div>
    <div class="island-bd">
        <span class="txt-sansSerif">You don't have any groups yet.  Create a <%= link_to 'New Group', new_group_path, class: 'link' %>
    </div>
</div>
