@import "../base/font";
@import "../base/vars";

a,
a:visited {
    @include sansSerifFont;

    color: $COLOR_PRIMARY_ACCENT;
    text-decoration: none;
}

a:active,
a:hover {
    color: $COLOR_DARK;
    text-decoration: underline;
    transition: all ease-in-out 300ms;
}

abbr[title="required"] {
    text-decoration: none;
    color: #e00e00;
    padding: 0 5px;
}

button:hover {
    cursor: pointer;
}

input {
    border-radius: $BORDER_RADIUS_M;
    font-size: $FONT_SIZE_M;
    box-sizing: border-box;
}

input:active,
input:focus {
    border: 3px solid $COLOR_PRIMARY;
    outline: none;
    padding: 3px;
}
