@import "../base/font";
@import "../base/vars";

abbr[title="required"] {
    text-decoration: none;
    color: #e00e00;
    padding: 0 5px;
}

button:hover {
    cursor: pointer;

    &:disabled {
        cursor: default;
    }
}
