$BORDER_RADIUS_M: 4px;
$BORDER_RADIUS_L: 7px;
$BORDER_RADIUS_XL: 14px;

$COLOR_BG_PRIMARY: #f8f9fd;
$COLOR_BG_SECONDARY: #ffffff;
$COLOR_PRIMARY: #60a7d1;
$COLOR_PRIMARY_ACCENT: #0d913b;
$COLOR_SECONDARY_ACCENT: #9da1a9;

$COLOR_DARK: #1D1E1F;
$COLOR_GREY: #cccccc;
$COLOR_LIGHT: #efefef;
$COLOR_SUCCESS_FG: #008000;
$COLOR_SUCCESS_BG: rgba(180, 220, 180, 0.40);
$COLOR_ERROR_BG: #ffdcdc;
$COLOR_ERROR_FG: #e00e00;
$COLOR_MORNING: rgba(169, 142, 253, 0.7);
$COLOR_AFTERNOON: #7ee1ff;
$COLOR_EVENING: #fb9b6e;

$FONT_SIZE_XXS: 10px;
$FONT_SIZE_XS: 12px;
$FONT_SIZE_S: 14px;
$FONT_SIZE_M: 16px;
$FONT_SIZE_L: 22px;
$FONT_SIZE_XL: 28px;
$FONT_SIZE_XXL: 32px;

$SPACING_HALFX: 5px;
$SPACING_1X: 10px;
$SPACING_2X: $SPACING_1X * 2;
$SPACING_3X: $SPACING_1X * 3;
$SPACING_4X: $SPACING_1X * 4;
$SPACING_5X: $SPACING_1X * 5;
