$BORDER_RADIUS: 7px;

$COLOR_BG_PRIMARY: #f8f9fd;
$COLOR_BG_SECONDARY: #ffffff;
$COLOR_PRIMARY_ACCENT: #0D913B;
$COLOR_DARK: #1D1E1F;

$FONT_SIZE_XS: 12px;
$FONT_SIZE_S: 14px;
$FONT_SIZE_M: 16px;
$FONT_SIZE_L: 22px;
$FONT_SIZE_XL: 28px;
$FONT_SIZE_XXL: 32px;

$SPACING_1X: 10px;
$SPACING_2X: $SPACING_1X * 2;
$SPACING_3X: $SPACING_1X * 3;
$SPACING_4X: $SPACING_1X * 4;
$SPACING_5X: $SPACING_1X * 5;
