<div class="flyout mix-flyout_isHidden js-flyout">
    <div class="flyout-bd">
        <%= render 'form', location: flyoutable %>
    </div>
    <div class="flyout-ft">
        <div class="btn btn-toggle js-flyout-trigger">
            <%= image_tag 'arrows_up_double.svg', size: '32x32' %>
        </div>
    </div>
</div>
