<!-- TODO: split out to shared partial -->
<div class="flyout mix-flyout_isHidden js-flyout">
    <div class="flyout-bd">
        <%= render 'form', location: @department %>
    </div>
    <div class="flyout-ft">
        <div class="btn btn-toggle js-flyout-trigger">
            <%= image_tag 'arrows_up_double', size: '32x32' %>
        </div>
    </div>
</div>
<ul class="stereo">
    <li>
        <h1 class="hdg hdg_1">Departments</h1>
    </li>
    <li>
        <button class="js-flyout-trigger">New Department</button>
    </li>
</ul>
<ul class="vlist">
    <% @departments.each do |department| %>
        <li class="listItem">
            <div class="listItem-hd">
                <ul class="stereo">
                    <li>
                        <%= link_to department.name, edit_department_path(department) %>
                    </li>
                    <li>
                        <%= button_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </li>
                </ul>
            </div>
        </li>
    <% end %>
</ul>
