<%= render partial: "shared/flyoutable_with_form", locals: { flyoutable: @department } %>
<ul class="stereo">
    <li>
        <h1 class="hdg hdg_1">Departments</h1>
    </li>
    <li>
        <a href="#" class="js-flyout-trigger" title="New Department">New Department</a>
    </li>
</ul>
<ul class="vlist">
    <% @departments.each do |department| %>
        <li class="listItem">
            <div class="listItem-hd">
                <ul class="stereo">
                    <li>
                        <%= link_to department.name, edit_department_path(department) %>
                    </li>
                    <li>
                        <%= button_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </li>
                </ul>
            </div>
        </li>
    <% end %>
</ul>
