<div class="stereo">
    <div>
        <h1 class="hdg hdg_1">Editing Order</h1>
    </div>
    <div>
        <ul class="hlist hlist-divided">
            <li>
                <%= link_to 'Back', orders_path, class: "link" %>
            </li>
            <li>
                <%= link_to 'Show', @order, class: "link" %>
            </li>
            <li>
                <%= link_to 'Destroy', @order, method: :delete, data: { confirm: 'Are you sure?' }, class: "link" %>
            </li>
        </ul>
    </div>
</div>

<%= render 'form', order: @order %>

