<ul class="stereo">
    <li>
        <h1 class="hdg hdg_1">Orders</h1>
    </li>
    <li>
        <%= link_to 'New Order', new_order_path, class: "link" %>
    </li>
</ul>
<%= react_component(
    'OrderListContainer',
    locations: @locations,
    ordersByConcern: [
        {
            name: 'Pending',
            items: @orders.pending,
            renderer: 'card',
        },
        {
            name: 'Active',
            items: @orders.active,
            renderer: 'card',
        },
        {
            name: 'Finished',
            items: @orders_finished_by_shopping_date,
            renderer: 'simple',
        },
    ]
) %>
