<ul class="stereo">
    <li>
        <h1 class="hdg hdg_1">Orders</h1>
    </li>
    <li>
        <%= link_to 'New Order', new_order_path, class: "link" %>
    </li>
</ul>
<div class="vr_3">
    <%= render partial: "order_item_card", locals: { orders: @orders.pending, title: 'Pending' } %>
</div>
<div class="vr_3">
    <%= render partial: "order_item_card", locals: { orders: @orders.active, title: 'Active' } %>
</div>
<div class="vr_3">
    <%= render partial: "finished_order", locals: { orders: @orders.finished, title: 'Finished' } %>
</div>
