<div class="vr_1">
    <ul class="stereo">
        <li>
            <h1 class="hdg hdg_1">Order</h1>
        </li>
        <li>
            <ul class="hlist hlist-divided">
                <li>
                    <%= link_to 'Back', orders_path, class: "link" %>
                </li>
                <li>
                    <%= link_to 'Edit', edit_order_path(@order), class: "link" %>
                </li>
                <li>
                    <%= link_to 'Destroy', @order, method: :delete, data: { confirm: 'Are you sure?' }, class: "link" %>
                </li>
            </ul>
        </li>
    </ul>
</div>

<%= react_component(
    'OrderPage',
    csrf: form_authenticity_token,
    departments: @departments,
    assemblies: @assemblies,
    orderItems: @order.order_items,
    items: @items,
    locationDepartments: @location_departments,
    order: @order,
    orderLocation: @order.location
) %>
