Hello again, <%= @user.email %>!

A user has invited you to join a Group!
To accept this invitation, please follow this <a href="#">Group Invitation</a> link to complete the process.
If you don't want to join this group, thats cool too.  Just ignore this mail and your account will remain unchanged
