Hello again, <%= @user.email %>!

<p>A user has invited you to join a Group!</p>
<p>To accept this invitation, please follow this <%= link_to "Group Invitation", @url %> link to complete the process.</p>
<p>If you don't want to join this group, thats cool too.  Just ignore this mail and your account will remain unchanged.</p>
