@import "../base/mixins";
@import "../base/vars";

.btn {
    @include animationCubicBezier;

    background-color: inherit;
    border-radius: $BORDER_RADIUS_M;
    cursor: pointer;
    padding: $SPACING_HALFX $SPACING_1X;

    &:hover {
        background-color: $COLOR_PRIMARY;
        color: #ffffff;
        cursor: pointer;
    }
}

.btn-submit {
    font-size: $FONT_SIZE_M;
    padding: $SPACING_HALFX;
    -webkit-appearance: none;

    &:active {
        padding: 3px !important;
    }
}

.btn-toggle {
    background-color: $COLOR_BG_SECONDARY;
    border-radius: $BORDER_RADIUS_M;
    padding: 5px 10px;
}

.btn-wide {
    padding-left: 30px;
    padding-right: 30px;
}

.mix-btn_isLoading {
    background-color: $COLOR_PRIMARY;
    color: #ffffff;
}

.mix-btn_isSuccess {
    background-color: $COLOR_SUCCESS_BG;
}

.mix-btn_inverse {
    background-color: $COLOR_PRIMARY;
    color: #ffffff;

    &:hover {
        background-color: inherit;
        color: $COLOR_DARK;
    }
}

.mix-btn_full {
    width: 100%;
}
