@import "../base//mixins";
@import "../base/vars";

.card {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$SPACING_1X;
    margin-right: -$SPACING_1X;
}

.card > li {
    @include boxShadow-subtle;

    background-color: $COLOR_BG_SECONDARY;
    border: 1px solid #DEE8EA;
    border-radius: $BORDER_RADIUS;
    box-sizing: border-box;
    margin: $SPACING_1X;
    width: calc(50% - #{$SPACING_2X});
}

.card-link {
    display: block;
    height: $SPACING_1X * 15;
    padding: $SPACING_1X;
}

.card-link:hover {
    color: $COLOR_PRIMARY;
    text-decoration: none;
}

