@import "../base/font";
@import "../base/vars";

.concernGroup + .concernGroup {
    margin-top: $SPACING_3X;
}

.concernGroup-hd {
    @include sansSerifFont;

    color: $COLOR_DARK;
    font-size: $FONT_SIZE_L;
    margin-bottom: $SPACING_1X;

    a {
        font-size: $FONT_SIZE_S;
        margin-left: $SPACING_1X;
    }
}
