@import "../base/font";
@import "../base/mixins";
@import "../base/vars";

// comes from simple_form gem
.error_notification {
    @include monospaceFont;
    @include notificationPanel;

    background-color: $COLOR_ERROR_BG;
    font-size: $FONT_SIZE_S;
    color: $COLOR_ERROR_FG;
}
