@import '../base/_font';
@import "../base/mixins";
@import "../base/vars";

.filterBar {
    @include hlist;
    @include basePanel;

    justify-content: center;
    margin-bottom: $SPACING_2X;
    margin-top: $SPACING_2X;
    padding-bottom: $SPACING_1X;
    padding-top: $SPACING_1X;

    > * + * {
        border-left: 1px solid;
        margin-left: $SPACING_1X;
        padding-left: $SPACING_1X;
    }
}

.filterBar-link {
    @include sansSerifFont;

    color: $COLOR_PRIMARY;
    font-weight: 600;
    text-decoration: none;
}

.mix-filterBar-link_isActive {
    color: $COLOR_DARK;
    cursor: default;
}
