@import "../base/mixins";
@import "../base/vars";

.flyout {
    @include animationCubicBezier;
    @include boxShadow-strong;

    background: #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.flyout-bd {
    background-color: $COLOR_BG_PRIMARY;
    border-radius: $BORDER_RADIUS_L;
    margin: $SPACING_3X $SPACING_3X $SPACING_2X $SPACING_3X;
    padding: $SPACING_3X $SPACING_2X;
}

.flyout-ft {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 $SPACING_2X $SPACING_2X $SPACING_2X;
}

.mix-flyout_isHidden {
    top: -300px;
}
