@import "../base/mixins";
@import "../base/vars";

.icon {
    display: inline-block;
    height: 20px;
    width: 20px;
}

.icon-btn {
    @include animationCubicBezier;
    @include boxShadow-subtle;

    background-color: $COLOR_BG_PRIMARY;
    border: 1px solid $COLOR_SECONDARY_ACCENT;
    border-radius: $BORDER_RADIUS_M;
    cursor: pointer;
}

.icon-btn:active,
.icon-btn:focus,
.icon-btn:hover {
    background-color: $COLOR_BG_SECONDARY;
    border: 1px solid $COLOR_PRIMARY;
}

.icon-trashcan {
    background: image-url('basic_trashcan.svg') 50% 50% no-repeat transparent;
}

.icon-calendar-check {
    background: image-url('calendar-check.svg') 50% 50% no-repeat transparent;
    margin-top: 2px;
    margin-bottom: -1px;
}

.icon-cart-check {
    background: image-url('cart-check.svg') 50% 50% no-repeat transparent;
    margin-top: 2px;
    margin-bottom: -2px;
}

.mix-icon-btn_verticalOffset {
    margin-top: ($SPACING_1X + $SPACING_HALFX) * -1;
}
