@import "../base/font";
@import "../base/mixins";
@import "../base/vars";

.listItem {
    @include boxShadow-subtle;
    @include sansSerifFont;
    @include basePanel;

    padding: $SPACING_1X;
}

.listItem-content {
    flex-grow: 1;
}

.listItem-hd {
    @include flexBetween;
}

.listItem-ft {
    @include monospaceFont;

    color: $COLOR_SECONDARY_ACCENT;
    font-size: $FONT_SIZE_S;
    padding-top: $SPACING_HALFX;
}

.listItem-child {
    margin-left: $SPACING_2X;
    margin-top: $SPACING_HALFX;
    padding: $SPACING_HALFX $SPACING_1X;
    position: relative;

    & .listItem-hd,
    & .listItem-bd {
        font-size: $FONT_SIZE_S;
        padding-bottom: $SPACING_HALFX;
    }
}

.mix-listItem_flex {
    align-items: center;
    display: flex;
}

.mix-listItem_tight {
    padding: $SPACING_HALFX $SPACING_1X;
}

.mix-listItem_tight + .mix-listItem_tight {
    margin-top: $SPACING_HALFX;
}
