@import "../base/font";
@import "../base/mixins";
@import "../base/vars";

.notice {
    @include monospaceFont;
    @include notificationPanel;

    background-color: $COLOR_SUCCESS_BG;
    color: $COLOR_SUCCESS_FG;
    font-size: $FONT_SIZE_S;
}
