@import "../base/font";
@import "../base/mixins";
@import "../base/vars";

.notice-container {
    position: relative;
    z-index: 1;
}

.notice {
    @include monospaceFont;
    @include notificationPanel;

    background-color: $COLOR_SUCCESS_BG;
    color: $COLOR_SUCCESS_FG;
    font-size: $FONT_SIZE_S;
}

.mix-notice_isAlert {
    background-color: $COLOR_ERROR_BG;
    color: $COLOR_ERROR_FG;
}
