@import "../base/font";
@import "../base/mixins";
@import "../base/vars";

.orderItem {
    @include boxShadow-subtle;
    @include sansSerifFont;
    @include basePanel;

    align-items: center;
    display: flex;
}

.orderItem-action {
    border-right: 1px solid $COLOR_LIGHT;
    margin-right: $SPACING_1X;
    padding: $SPACING_HALFX $SPACING_1X;
}

.orderItem-content {
    flex-grow: 1;
    padding: $SPACING_1X;
}

.orderItem-hd {
    @include flexBetween;
}

.orderItem-bd {
    @include monospaceFont;

    color: $COLOR_PRIMARY;
    font-size: $FONT_SIZE_XS;
    padding-bottom: $SPACING_HALFX;
    padding-top: $SPACING_HALFX;
}

.orderItem-ft {
    @include monospaceFont;

    color: $COLOR_SECONDARY_ACCENT;
    font-size: $FONT_SIZE_S;
}

.mix-orderItem_isPicked {
    background-color: rgba(255, 255, 255, 0.1);

    .orderItem-hd,
    .orderItem-bd,
    .orderItem-ft {
        // color: $COLOR_SECONDARY_ACCENT;
        color: $COLOR_GREY !important;
    }
}

