@import "../base/font";
@import "../base/_mixins";

.orderMeta {
    @include sansSerifFont;

    font-size: $FONT_SIZE_S;

    .link {
        font-size: $FONT_SIZE_S;
        margin-left: $SPACING_HALFX;
    }
}
