@import "../base/font";
@import "../base/mixins";
@import "../base/vars";

.orderItem {
    @include boxShadow-subtle;
    @include sansSerifFont;
    @include basePanel;
}

.orderItem-hd {
    @include flexBetween;

    padding-bottom: calc(#{$SPACING_1X} / 2);
}

.orderItem-hd_subHeading::before {
    color: $COLOR_DARK;
    content: "";
    padding: 0 $SPACING_1X;
}

.orderItem-ft_aside {
    @include monospaceFont;

    color: $COLOR_PRIMARY;
    font-size: $FONT_SIZE_XS;
}

.orderItem-ft {
    @include monospaceFont;

    color: $COLOR_SECONDARY_ACCENT;
    font-size: $FONT_SIZE_XS;
}

