@import "../base/font";
@import "../base/mixins";
@import "../base/vars";

.orderItem {
    @include boxShadow-subtle;
    @include sansSerifFont;
    @include basePanel;

    align-items: center;
    display: flex;
}

.orderItem-action {
    border-right: 1px solid $COLOR_LIGHT;
    margin-right: $SPACING_1X;
    padding: $SPACING_1X;
}

.orderItem-action_input {

}

.orderItem-content {
    flex-grow: 1;
    padding: $SPACING_1X;
}

.orderItem-hd {
    @include flexBetween;

    padding-bottom: calc(#{$SPACING_1X} / 2);
}

.orderItem-hd_subHeading::before {
    color: $COLOR_DARK;
    content: "";
    padding: 0 $SPACING_1X;
}

.orderItem-ft_aside {
    @include monospaceFont;

    color: $COLOR_PRIMARY;
    font-size: $FONT_SIZE_XS;
}

.orderItem-ft {
    @include monospaceFont;

    color: $COLOR_SECONDARY_ACCENT;
    font-size: $FONT_SIZE_XS;
}

