@import "../base/mixins";
@import "../base/vars";

.stepper {
    font-size: $FONT_SIZE_XS;
    width: 100px;
}

.stepper-bd {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.stepper-bd-btn {
    @include animationCubicBezier;
    @include boxShadow-subtle;

    background-color: $COLOR_BG_PRIMARY;
    border: 1px solid $COLOR_LIGHT;
    border-radius: $BORDER_RADIUS_M;
    cursor: pointer;
    padding: 8px 12px;

    &:hover {
        background-color: $COLOR_PRIMARY;
        color: black;
        cursor: pointer;
    }
}

.stepper-bd-input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: $COLOR_DARK;
    font-size: $FONT_SIZE_S;
    padding: 8px $SPACING_HALFX;
    text-align: center;
    width: 25px;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}

.stepper-ft {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.stepper-ft-submit {
    // transition below comes from this mixin, done inline to
    // override `all` for the transition element
    // @include animationCubicBezier;

    border: none;
    color: $COLOR_DARK;
    font-size: $FONT_SIZE_S;
    flex-grow: 1;
    padding-bottom: ($SPACING_HALFX + 1);
    padding-top: ($SPACING_HALFX + 1);
    transition: background-color 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-appearance: none;
    -webkit-transition: background-color 600ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:active,
    &:focus {
        background-color: $COLOR_GREY;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    &:hover {
        // overriding input[type=submit] styles, should be fixed with input classes
        background-color: $COLOR_PRIMARY !important;
        color: #ffffff;
        cursor: pointer;
    }
}
