<%= simple_form_for(@item) do |f| %>
    <div class="vr_1">
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-group">
            <%= f.input :name, :input_html => { :class => 'input-text' } %>
        </div>

        <div class="form-group">
            <%= f.association :department, collection: Department.by_name %>
        </div>
    </div>
    <ul class="hlist">
        <% if !current_page?(items_path) %>
            <li>
                <%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' }, class: "link" %>
            </li>
        <% end %>
        <li>
            <%= f.button :submit, :class => 'btn-submit mix-btn_inverse' %>
        </li>
    </ul>
<% end %>
