<li class="js-item">
    <div class="listItem mix-listItem_flex">
        <div class="listItem-content">
            <div class="listItem-hd">
                <h2 class="hdg hdg_2">
                    <%= link_to item.name, edit_item_path(item) %>
                </h2>
            </div>
            <div class="listItem-ft">
                <%= item.department.name %>
            </div>
        </div>
        <div class="listItem-action">
            <%= react_component(
                'StepperContainer',
                itemId: item.id,
                itemName: item.name,
                departmentId: item.department.id,
                csrf: form_authenticity_token)
            %>
        </div>
    </div>
</li>
