<%= render partial: "shared/flyoutable_with_form", locals: { flyoutable: @item } %>
<ul class="stereo">
    <li>
        <h1 class="hdg hdg_1">Items</h1>
    </li>
    <li>
        <a href="#" class="link js-flyout-trigger">New Item</a>
    </li>
</ul>

<%= react_component(
    'ItemListPage',
    csrf: form_authenticity_token,
    departments: @departments,
    items: @items,
) %>
