<div class="stereo">
    <div>
        <h1 class="hdg hdg_1">New Item</h1>
    </div>
    <div>
        <%= link_to 'Back', items_path, class: "link" %>
    </div>
</div>

<%= render 'form', item: @item %>
