@import "../base//vars";

.site {
    background-color: $COLOR_BG_PRIMARY;
    min-height: calc(100vh - 50px);
    padding: $SPACING_3X $SPACING_2X $SPACING_1X $SPACING_2X;
    width: calc(100vw - #{$SPACING_4X});
}
