<%= simple_form_for(@assembly) do |f| %>
    <div class="vr_3">
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-group">
            <%= f.input :name, :input_html => { :class => 'input-text' } %>
        </div>
    </div>
    <div class="vr_2">
        <div class="form-group">
            <%= f.association :items, as: :check_boxes, collection: Item.by_name %>
        </div>
    </div>
    <div class="vr_2">
        <div class="form-actions">
            <%= f.button :submit, :class => 'btn-submit mix-btn_inverse'  %>
        </div>
    </div>
<% end %>
