<ul class="stereo">
    <li>
        <h1 class="hdg hdg_1">Editing Assembly</h1>
    </li>
    <li>
        <ul class="hlist hlist-divided">
            <li>
                <%= link_to 'Back', assemblies_path, class: "link" %>
            </li>
            <li>
                <%= link_to 'Destroy', @assembly, method: :delete, data: { confirm: 'Are you sure?' }, class: "link" %>
            </li>
        </ul>
    </li>
</ul>

<%= render 'form', assembly: @assembly %>
