<div class="stereo">
    <div>
        <h1 class="hdg hdg_1">New Assembly</h1>
    </div>
    <div>
        <%= link_to 'Back', assemblies_path %>
    </div>
</div>

<%= render 'form', assembly: @assembly %>

